<!-- About Section -->
    <section id="1" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kim jesteśmy?</h2>
                <h4>podtytuł</h4>
                <p> Opis działalności                   
                </p>
                <p>   
                    Jeśli chcesz wiedzieć więcej - przejdź do galerii.
                </p>
            </div>
        </div>
    </section>

    <!-- Attractions Section -->
    <section id="2" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Atrakcje</h2>
                <h4>Podtytuł</h4>
                <p>Opis atrakcji 
                </p>
                <p>
                    Opis okolicznych atrakcji
                    <%= link_to 'Przejdź do galerii', attractions_path %>
                </p>
            </div>
        </div>
    </section>   
                
                
                
                
    <!-- Rooms Section -->
    <section id="3" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">      
                    <h2>Pokoje</h2>
                    <h4>Podtytuł</h4>
                    <ul class="ul">
                    <li>Opis pokoi
                    </li><br>
                   
                    </ul>
                    <%= link_to 'Zobacz nasze pokoje i sprawdż dostępność', rooms_path %>

                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="4" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <h4>Jak do nas dojechać?</h4>
            
                <p> 
                  Laliki 133
                </p> 
                <p>Telefony i inne</p>  
                <p>    
                   Mapka
                    <div id="googleMap" style="width:100%;height:380px;"></div>
                </p>
            </div>
        </div>
    </section>
   <!-- About_Project Section -->
    <section id="5" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">      
                    <h2>O stronie</h2>
                    <h4>Projekt Licencjacki</h4>
                    <p>Ta strona powstała jako integralna część Projektu Licencjackiego...</p>
                    <p> Źródła                         
                    </p>               
                </div>
            </div>
        </div>
    </section>
