 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="static_pages">
                    <i class="glyphicon-heart"></i> <span class="light">Agroturystyka w Lalikach</span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <% if current_page?(static_pages_path) %>
                         <a class="page-scroll" href="#1">O nas</a>
                         <% else %>
                         <a class="page-scroll" href="static_pages#1">O nas</a>
                         <% end %>
                    </li>
                    <li><% if current_page?(static_pages_path) %>
                         <a class="page-scroll" href="#2">Atrakcje</a>
                         <% else %>
                         <a class="page-scroll" href="static_pages#2">Atrakcje</a>
                         <% end %>
                    </li>
                    <li><% if current_page?(static_pages_path) %>
                         <a class="page-scroll" href="#3">Pokoje</a>
                         <% else %>
                         <a class="page-scroll" href="static_pages#3">Pokoje</a>
                         <% end %>
                    </li>
                    <li><% if current_page?(static_pages_path) %>
                         <a class="page-scroll" href="#4">Kontakt</a>
                         <% else %>
                         <a class="page-scroll" href="static_pages#4">Kontakt</a>
                         <% end %>
                    </li>
                    <li><% if current_page?(static_pages_path) %>
                         <a class="page-scroll" href="#5">O stronie</a>
                         <% else %>
                         <a class="page-scroll" href="static_pages#5">O stronie</a>
                         <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header>
        
          
                
           
                              
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/1.jpg" alt="Chania" width="100%">
      <div class="carousel-caption">
        <h3>KOCHOM CIE</h3>
        <p> Kochom cie piykno Ziymio Żywiecko takom miłościom jak matka dziecko. Boś mi jest matkom i zywicielkom
            kochom Cie za to milościom wielkom.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/2.jpg" alt="Chania" width="100%">
      <div class="carousel-caption">
        <h3>Kochom cie</h3>
        <p>Bojcom ło tobie, ześ marno gleba, bo nom cornego dostarcos chleba a jo wdy mowie całemu światu, ze to jest sprawa złego klimatu.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/3.jpg" alt="Flower" width="100%">
      <div class="carousel-caption">
        <h3>Kochom cie</h3>
        <p> Rozni tu ludzie władali tobom, ale Cie zoden nie wzion ze sobom. Przegrali wojny, pouciekali. A my tu matko z Tobom łostali.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/4.jpg" alt="Flower" width="100%">
      <div class="carousel-caption">
        <h3>Kochom cie</h3>
        <p>Zol Cie łostawić coby iś dali. Tu my wyrośli, na Twoij glebie i niek nas Twoje łono pogrzebie".
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>                             
                       
           
      
    </header>
