<!DOCTYPE html>
<head>
<title>Atrakcje</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!--[if lt IE 9]>  
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->

<link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/bower_components/nanum-barun-gothic/nanumbarungothic.css" />
<link rel="stylesheet" href="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/css/example.css" />
<!--[if lt IE 9]>  
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1 style="margin:150px auto 30px auto; text-align:center">Kultura</h1>
<ul class="gallery-items">
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc8.jpg" alt="" /></div>
      <div class="title">Dziady</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab8.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Dziady</div>
          <div class="contents"> Elementem bogatego folkloru ziemi Żywieckiej jest fenomen tak zwanych Dziadów. Od dawien dawna zwyczajem w naszych stronach w okolicy Sywlestra i Nowego Roku był zwyczaj przebierania się dorosłych mężczyzn lub młodzeży w przeróżne, barwne postaci i radosnego kolędowania w okolicznych wsiach. Nie jest to jednak zwyczjne kolędowanie, kolorowy korowód przebierańców to widowisko na miarę lokalnego karnawału w Rio. <br><br> W pochodze kroczą potężne niedźwiedzie w opasłych futrach, podskakujące konie z ogromnymi maskami, przerażające diabły kłujące widłami, mroczna śmierć z kosą, kominiarz smarujący węglem i sadzą, handlujący Żyd z Żydówką, macindula w stroju z długich frendzlów i z wypchanym królikiem pod pachą, wróżąca z ręki Cyganka, strzelający z batów Pachołcy, nierzadko pojawia się też panna młoda czy komendant, pełen skład grupy zależy jednak w pełni od wyobraźni uczestników. Każdy z uczestników wiernie wciela się w swoją rolę, wielu z nich wygłasza długie kwestie i powinszowania dla gospodarzy, kolędnikom towarzyszy góralska muzyka - najczęściej wygrywana na heligonkach czy wakatach i śpiewy. Dziady to pewnego rodzaju ludowy teatr, w tej postaci spotykany tylko na ziemi Żywieckiej. Obecnie posiadają walory czysto rozrywkowe i ludowe, kiedyś miały jednak wymiar magicznych obrzędów. </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc13.jpg" alt="" /></div>
      <div class="title">Występy</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab13.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Występy</div>
          <div class="contents"> W naszej miejscowości bardzo duży nacisk kładzie się na podtrzymywanie lokalnej kultury. Na terenie kościoła znajduje się scena, na której bardzo często mają możliwość zaprezentowania się różne grupy artystyczne, od małych grup kolędników występujących w okresie świątecznym po zespoły regionalne występujące na terenie całego powiatu jak np. zespół Spod Kikuli, który promuje góralski taniec, śpiew i ludowe stroje. <br><br>Raz na parę lat w Lalikach organizowane są Gminne dożynki, na których popularne jest lokalne jedzenie, muzyka, kabarety, tańce, śpiewy i konkurencje sportowe. Dużą rolę w kultywowaniu tradycji, poprzez naukę gry na instrumentach ludowych i śpiewu odgrywają miejscowi artyści, jak np. Bracia Golec z sąsiedzkiej Milówki, którzy wspierają krzewienie folkloru ziemi Żywickiej. </div>
        </div>
      </div>
    </div>
  </li>
      <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc18.jpg" alt="" /></div>
      <div class="title">Rękodzieło</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab18.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Rękodzieło</div>
          <div class="contents">  W Lalikach bardzo popularna jest sztuka ludowa. Nie brakuje u nas okolicznych artystów utalentowanych w przeróżnych dziedzinach. Ich dzieła nierzadko zawierają w sobie elementy folkloru i tematyki górlaskiej, dzięki swojemu talentowi i zacięciu rozprzestrzeniają kulturę ziemi Żywieckiej. Przykładami takich artystów są rzeźbiarze - towrzący płaskorzeźby, figury świętych do kościoła, a także rzeźby na zamówienie i będące pamiątkami z wizyty w Lalikach. Wiele kobiet zajmuje się także dzierganiem na drutach i na szydełku, owocami tej sztuki są ubrania, ciepłe rękawice czy skarpety a także zdobne serwety, obrusy, ozdoby choinkowe w kształtach aniołów, gwiazek, figurki świąteczne - takie jak baranki, zajączki i jajka wielkanocne a nawet koronkowa biżuteria i bilizna. Wielu z naszych mieszkańców utalentowanych jest również plastycznie, w swych obrazach - pejzażach, portretach przelewają przywiązanie do pięknych okolic i tradycji w jakich wyrośli.</div>
        </div>
      </div>
    </div>
  </li>
      <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc21.jpg" alt="" /></div>
      <div class="title">Zabytki</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab21.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Zabytki</div>
          <div class="contents"> W Lalikach główne zabytki stanowią: kaplica na Tarlicznem z 1688 roku i kościół pw. NMP Nieustającej Pomocy z 1947 roku na Pochodzitej, rozbudowany w 1965 roku. Jest on konstrukcji zrębowej, od wschodu znajduje się kwadratowa wieża nad nawą.  Wejście poprzedzone jest oszklonym przedsionkiem. Ściany i strop zdobią ryciny religijne z elementami roślinnymi. Ołtarz główny z tabernakulum w kształcie kapliczki i tryptykiem. Wewnątrz kościoła znaleźć można ludowe wyposażenie twórców z Koniakowa i Lalik. Kościół znajduje się na szlaku architektury drewnianej województwa śląskiego. </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<h1 style="margin:150px auto 30px auto; text-align:center">Okoliczne atrakcje</h1>
<ul class="gallery-items">
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc4.jpg" alt="" /></div>
      <div class="title">Koczy zamek</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab4.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Koczy zamek</div>
          <div class="contents"> Nasz ośrodek stanowić może również świetną bazę wypadową do okolicznych atrakcji. Jedną z nich jest Koczy Zamek - niezalesione wzniesienie odcięte od zachodniej strony dziesięciometrową ścianą skał - pozostałością po starym kamieniołomie. Całe wzgórze porośnięte jest krzewami borówek a dokoła roztaczają się niesamowite widoki, przy dobrej pogodzie widać nawet Tatry. U jego podnóża biegnie niebieski szlak na Babią górę. Na szczycie widnieje krzyż, będący pomnikiem poświęconm żołnierzom AK, WP i Szarych Szeregów ziemi Beskidzkiej, poległym w czasie II wojny światowej </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc4.jpg" alt="" /></div>
      <div class="title">Muzeum Miejskie w Żywcu</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab4.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Muzeum Miejskie w Żywcu</div>
          <div class="contents">  </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc4.jpg" alt="" /></div>
      <div class="title">Góra Żar</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab4.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Góra Żar</div>
          <div class="contents"> Nasz ośrodek stanowić może również świetną bazę wypadową do okolicznych atrakcji. Jedną z nich jest Koczy Zamek - niezalesione wzniesienie odcięte od zachodniej strony dziesięciometrową ścianą skał - pozostałością po starym kamieniołomie. Całe wzgórze porośnięte jest krzewami borówek a dokoła roztaczają się niesamowite widoki, przy dobrej pogodzie widać nawet Tatry. U jego podnóża biegnie niebieski szlak na Babią górę. Na szczycie widnieje krzyż, będący pomnikiem poświęconm żołnierzom AK, WP i Szarych Szeregów ziemi Beskidzkiej, poległym w czasie II wojny światowej </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc4.jpg" alt="" /></div>
      <div class="title">Stara chałpa</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab4.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Stara chałpa</div>
          <div class="contents"> Nasz ośrodek stanowić może również świetną bazę wypadową do okolicznych atrakcji. Jedną z nich jest Koczy Zamek - niezalesione wzniesienie odcięte od zachodniej strony dziesięciometrową ścianą skał - pozostałością po starym kamieniołomie. Całe wzgórze porośnięte jest krzewami borówek a dokoła roztaczają się niesamowite widoki, przy dobrej pogodzie widać nawet Tatry. U jego podnóża biegnie niebieski szlak na Babią górę. Na szczycie widnieje krzyż, będący pomnikiem poświęconm żołnierzom AK, WP i Szarych Szeregów ziemi Beskidzkiej, poległym w czasie II wojny światowej </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<h1 style="margin:150px auto 30px auto; text-align:center">Obejście</h1>
<ul class="gallery-items">
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc2.jpg" alt="" /></div>
      <div class="title">Altana</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab2.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Altana</div>
          <div class="contents"> Do dyspozycji naszych gości jest altanka w otoczeniu krzewów i kwiatów. W środku jest duży stół, dziesięć krzeseł i klimatyczne oświtlenie lampą oliwną. Można w niej odpocząć, zrelaksować się, zjeść posiłek na świeżym powietrzu, urządzić grilla. Okna altanki zasłonięte są drewnianymi żaluzjami, które osłąniają od wiatru, ale można je również podnieść, by wpuścić trochę słońca. </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc9.jpg" alt="" /></div>
      <div class="title">Ogniska i grille</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab9.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Ogniska i grille</div>
          <div class="contents"> Klimat ogniska czy pachnącego grilla niejednokrotnie cenniejszy jest od wytowrnej restauracji, dlatego zadbaliśmy o to żebyście mogli biesiadować przy ogniu do woli! Dysponujemy trzema dużymi grillami i specjalnym miejscem pod ognisko, otoczonym komieniami. Dla Waszej wygody wokół ogniska ustawiliśmy drewniane ławy i stoły.  </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc10.jpg" alt="" /></div>
      <div class="title">Sprzęty</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab10.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Sprzęty</div>
          <div class="contents"> U nas możecie poczuć się jak prawdziwi gospodarze we własnym domu. Do waszej dyspozycji są nie tylko zasoby drewna i węgla na opał, ale przede wszystkim sprzęty jakimi dysponujemy w ośrodku. Kiedy tylko najdzie Was ochota możecie zabawić się w drwali i porąbać drewno, skosić trawę, zgrabić liście, pokopać w ogródku, odśnieżyć wjazd - łopatą lub wielką odśnieżarą, pojeździć traktorem, podlać kwiaty czy cokolwiek innego, co wpadnie Wam do głowy. Wszelkie sprzęty znajdziecie w naszej szopce, którą nazywamy Tanen. </div>
        </div>
      </div>
    </div>
  </li>
      <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc12.jpg" alt="" /></div>
      <div class="title">Magiczny ogród</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab12.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Magiczny ogród</div>
          <div class="contents"> Owocem naszej (Beni i Jasia) ciężkiej pracy i ogormnej pasji jest wielki, wspaniały ogród. Stworzyliśmy go od zera i do dziś pamiętamy czasy kiedy ogromne teraz krzewy i kosodrzewiny były zaledwie lichymi krzaczkami. Dbamy o niego ze szczególną troską i ciągle rozbudowujemy! W górnej części ogrodu znajduje się największy skalniak, z dróżkami wysypanymi kamieniami, kóry porastają kwiaty, mchy, wrzosy i krzewy. Dwa mniejsze skalniaki cieszą oko przy każdym z wejść do domu i otaczają altanę. Prócz tego cały obszar gospodarstwa porastają drzewa owocowe, zagajniki, drzewa iglaste i liściaste oraz kwiaty, wszystko urozmaicone kopozycjami skalnymi, schodkami, dróżkami i ławeczkami. W naszym ogrodzie można znaleźć prawdziwy spokój i radość z jego uroku, nie tylko za dnia, ale również wieczorem, jak widać na zdjęciu. </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<h1 style="margin:150px auto 30px auto; text-align:center">Coś na ząb</h1>
<ul class="gallery-items">
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc3.jpg" alt="" /></div>
      <div class="title">Owoce</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab3.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Owoce</div>
          <div class="contents"> Cały nasz ogród urozmaicony jest drzewami i krzewami owocowymi, które co roku rodzą pyszne, soczyste oraz zupełnie ekologiczne owoce. Mamy czereśnie, winogrona, porzeczki, agrest, maliny, aronie, wiśnie, truskawki, ostrężyny,
          borówki i śliwki. Dzięki temu, że okres ich owocowania jest zróżnicowany, przez długi czas korzystać można z teakigo zastrzyku zdrowych witamin! </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc16.jpg" alt="" /></div>
      <div class="title">Wina</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab16.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Wina</div>
          <div class="contents"> Od pięciu lat zajmujemy się produkcją domowego wina z naszych owoców. Cały proces jest bardzo czasochłonny i wymaga cierpliwości, jedank efekt jest tego warty. Nasze domowe wino wyróżnia się głębokim aromatem i gęstszą niż sklepowa konsystencją trunku. W zależności od gustów zakosztować możecie win zarówno wytrawnych, półsłodkich jak i słodkich. Wytwarzamy je głównie z ostrężyn, czereśni, aronii, porzeczek. Mamy swoje sprawdzone receptury, ale co roku nieco eksperymentujemy i wprowadzamy nowe smaki do naszej małej piwniczki winiarskiej. Przyjedźcie do nas a może zdradzimy Wam nieco z naszych tajemnic produkcji wina.</div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc17.jpg" alt="" /></div>
      <div class="title">Przetwory</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab17.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Przetwory</div>
          <div class="contents"> Tradycja przygotowywania zapasów w okresie jesiennym przekazywana była w naszej rodzinie z pokolenia na pokolenie. Jakość naszych przetworów: marynowanych i kiszonych ogórków czy kapusty, marynowanej papryki, marmolad, dżemów, soków i kompotów potwierdzone są wieloletnim zadowoleniem całej rodziny a od kilku lat także naszych gości. Cała spiżarnia zapełniona od podłogi aż po sufit przeróżnymi przetworami domowej roboty jest do Waszej dyspozycji! </div>
        </div>
      </div>
    </div>
  </li>
      <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc19.jpg" alt="" /></div>
      <div class="title">Warzywa</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab19.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Warzywa</div>
          <div class="contents"> W naszym ogródku rosną stuprocentowo ekologiczne warzywa: ziemniaki, buraczki, cebula, groch, fasola, marchew, kukurydza, dynie, ogórki, cukinie, kalarepki, pomidory i wiele innych pysznych roślinek, które urozmaicają codzienne posiłki naszych gości.</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<h1 style="margin:150px auto 30px auto; text-align:center">Zajęcia</h1>
<ul class="gallery-items">
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc20.jpg" alt="" /></div>
      <div class="title">Wycieczki rowerowe</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab20.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Wycieczki rowerowe</div>
          <div class="contents"> W Lalikch i okolicach nie brakuje miejsc na wycieczki rowerowe. Piękne krajobrazy, historyczne, zabytkowe i ciekawe miejsca w Lalikach to główne cele wycieczek rowerowych.</div>
        </div>
      </div>
    </div>
  </li>
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc5.jpg" alt="" /></div>
      <div class="title">Prace gospodarskie</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab5.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Prace gospodarskie</div>
          <div class="contents"> Jeśli ktoś od biernego wypoczynku woli czynny i przy okazji ma ochotę zakosztować gospodarskiego życia i pracy na wsi, serdecznie zapraszamy w okresie wiosennym letnim i jesiennym na prace gospodarskie! Pomoc w takich pracach jak sianie i sadzenie warzyw, sianokosy, żniwa, plewienie, wykopki traktowana będzie oczywiście jako rozrywka, ale także możliwość pozyskania pewnej wiedzy na temat uprawy i sposobu wykonywania pewnych czynności gospodarskich, takich jak np. koszenie kosą, karmienie zwierząt, jazda traktorem i wiele innych. </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc14.jpg" alt="" /></div>
      <div class="title">Stoki narciarskie</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab14.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Stoki narciarskie</div>
          <div class="contents"> W pobliżu naszego ośrodka funkcjonuje wiele stoków narciarskich, z których jeden już pięć minut drogi od Lalik - w Zwardoniu. Wszystkich miłośników zimowych sportów i tych nie przekonanych też serdecznie zapraszamy w okresie zimowym. A po szaleństwach na mrozie serwujemy gorącą kwaśnicę z wkładką(mięsną)! </div>
        </div>
      </div>
    </div>
  </li>
      <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc15.jpg" alt="" /></div>
      <div class="title">Wycieczki górskie</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab15.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Wycieczki górskie</div>
          <div class="contents"> Laliki położone są w pobliżu wielu szczytów górskich Beskidu Żywieckiego i Śląskiego, na które prowadzą szlaki w samych Lalikach i okolicach, jak np. Rachowiec, Babia, Boracza, Pilsko, Rycerzowa, Rysianka, Skrzyczne, Czantoria. Są to szczyty o różnych wysokościach i trudności podejścia, jednakże radość z pieszych wycieczek gwarantują zarówno tym doświadczonym jak i zupełnym górkim amatorom. </div>
        </div>
      </div>
    </div>
  </li>



</ul>
<h1 style="margin:150px auto 30px auto; text-align:center">Zwierzęta</h1>
<ul class="gallery-items">
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc1.jpg" alt="" /></div>
      <div class="title">Zwierzęta gospodarskie</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab1.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Zwierzęta gospodarskie</div>
          <div class="contents"> Jedną z atrakcji ośrodka są zwierzęta gospodarskie. Codziennie stado naszych owieczek wypasa okoliczne pola. W naszej szopce oglądać można także kury, króliki i świnki a także ich malutkie potmostwo w niektórych okresach roku. Takie doświadczenie może być cenną wartością edukacyjną szczególnie dla dzieci i młodzieży. </div>
        </div>
      </div>
    </div>
  </li>
    <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc6.jpg" alt="" /></div>
      <div class="title">Nasi pupile</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab6.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Nasi pupile</div>
          <div class="contents"> Z pewnością z wielkim entuzjazmem przywitają Was nasze gospodarskie pupilki pies Edi i kocurek Rysiek. Z pewnością wdzięczne będą za każde przejawy sympatii, głaskanie, zabawy, karmienie smakołykami czy spacery. </div>
        </div>
      </div>
    </div>
  </li>
  <li class="gallery-item">
    <div class="gallery-contents">
      <div class="thumbnail gallery-trigger"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/abc7.jpg" alt="" /></div>
      <div class="title">Dzikie zwierzęta</div>
    </div>
    <div class="gallery-expander">
      <div class="gallery-expander-contents">
        <div class="gallery-trigger-close close">x</div>
        <div class="col">
          <div class="image"><img src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/img/ab7.jpg" alt="" /></div>
        </div>
        <div class="col">
          <div class="title">Dzikie zwierzęta</div>
          <div class="contents"> Niesamowitą okazją, jaką daje przyjazd do nas, niesptykaną w miastach, jest kontakt i możliwość obserwacji dzikich zwierząt. Herbem Lalik jest świerk, co stanowi symbol bogactwa terenów leśnych w naszej miejscowości, dzięki temu niezwykle często można zaobserwować sarny, dziki, lisy, zające, bażanty a nawet rysie w ich naturalnym otoczeniu. Niektóre z dzikich zwierząt takie jak wiewiórki, łasice, tchórze, jeże czy też wszelkie ptaki są nieco miniej dzikie i same czasem nas odwiedzają, pozwalając nieco poznać swoje zwyczaje i nierzadko kradnąc nasze owoce czy orzeszki! </div>
        </div>
      </div>
    </div>
  </li>
  </ul>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script src="http://wierzba.wzks.uj.edu.pl/~12_misiarz/Projekt_Licencjacki/fx/js/jquery.imagelistexpander.js"></script> 
<script>
(function(global, $){
    $('.gallery-items').imagelistexpander({
        prefix: "gallery-"
    });
})(this, jQuery)
</script>
</body>
</html>
